- content_for :title do
  Documentation

.row
  .ten.columns
    %h2 Documentation
    %ul
      %li= link_to "Collection Documentation", show_path("dummy_id")
      %li= link_to "README", show_path("README")